header {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(129, 129, 255);
}

body {
    display: flex;
    background-color: rgb(129, 129, 255);
}

#main {
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: flex;
    flex: 1;
}

#main > h1 {
    flex: 1 0 80%;
    text-align: center;
}

#main > nav {
    order: -1;
}
#main > nav,
#main > aside {
    display: flex;
    flex: 0 0 5%;
    align-items: center;
    justify-content: center;
}

#menu-button,
#github-icon {
    display: block;
    height: 60px;
    width: 60px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 5vw;
    }

    #menu-button,
    #github-icon {
        height: 5vw;
        width: 5vw;
    }
}

.hidden {
    display: none;
}